.carousel-caption{
  color: black;
}

.mynavbar > ul > li:hover{
  background:white;
  color:#777;
}

.carousel-caption{
  padding:0px;
}

.row{
  margin-bottom: 20px;
}

.panel-default{
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
